<html>
  <head>
    <title>
HAPPY WEDDING | LOGIN
    </title>
  </head>
    <body>
        <form method="post" action=" ">
          {% csrf_token %}
          <label for="username">USERNAME:</label>
          <input type="text" id="username" name="username" placeholder="Enter your username"><br>
          <label for="pass1">PASSWORD</label>
          <input type="password" id="pass1" name="pass1" placeholder="Enter your password"><br>
    <button type="submit" class="btn btn-primary">LOGIN</button><br>
  Already registered<a href="signup/">User</a>
  
  </form>
  
</body>
  </html>


